h1,
h3 {
  color: white;
}

.main-container {
  background-color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  min-height: 100vh;
  max-height: fit-content;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.inner-container {
  background-color: brown;
  height: 100%;
  min-height: 100vh;
}

.first-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.no-content {
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.no-content img {
  margin-top: 20px;
  width: 200px;
}

.table-style {
  background-color: white;
  margin-right: 20px;
}

.delete-icon {
  margin: 5px;
}

.delete-icon:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 400ms;
  color: red;
}

.delete-icon-head {
  margin: 5px;
  color:white;
}

.delete-icon-head:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 400ms;
  color: red;
}

.add-icon-head {
  margin: 5px;
  color:white;
}

.add-icon-head:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 400ms;
  color: white;
}

.edit-icon-head {
  margin: 5px;
  color:white;
}

.edit-icon-head:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 400ms;
  color: green;
}

.modify-icon {
  margin: 5px;
}

.modify-icon:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: transform 400ms;
  color: green;
}
