.nav{
  background-color: #14b1ab;
}

.brand{
  color:white !important; 
}

.brand:hover{
  cursor: pointer !important;
}

.login-button{
  color: white;
  background-color: #14b1ab !important;
  border: none !important;
  border-color: transparent !important;
}

.login-button.brand:hover{
  cursor: pointer;
}