.main-container {
  background-color: #b0e0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  max-height: fit-content;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.collections-container{
  background-color: red;
  height: 100%;
}

.collection-card{
  margin: 10px;
}

.add-collection-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 180px;
}

.add-collection-card:hover{
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 180px;
}

.button-container{
  display: flex;
  float: right;
}

.center-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.link{
  color: white;
}

.link:hover{
  color: white;
}