.main-container {
  background-color: #b0e0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  min-height: 100vh;
  max-height: fit-content;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.collections-container{
  background-color: red;
  height: 100%;
  min-height: 100vh;
}

.collection-card{
  margin: 10px;
  flex: 1;
}

.collection-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 400ms;
  background-color: #F6F6F6;
  margin: 10px;
  flex: 1;
}

.row-style {
  display: flex;
}

.col-style {
  display: flex;
}

.add-collection-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex: 1;
}

.add-collection-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 400ms;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.add-collection-cardbody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container{
  display: flex;
  justify-content: flex-end;
}

.center-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.link{
  color: white;
}

.link:hover{
  color: white;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner{
  margin: 10px;
}